.pp-wrapper {
  padding: 5%;
}

.pp-header {
  text-align: center;
  justify-content: center;
  font-size: 160%;
  color: #763b11;
  font-weight: 600;
}

.pp-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 60px;
  margin-top: 10%;
}

.pp-item {
  transition: 0.4s;
  text-align: center;
}

.pp-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.pp-item img {
  width: 85%;
}

/* Products Footer */
/* 
.pp-contact {
  min-width: 100vw;
  position: absolute;
  width: 100vw;
  top: 106%;
}

.pp-contact-content {
  display: flex;
  flex-direction: row;
  padding: 4% 14%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  gap: 10%;

  color: #763b11;
}

.pp-footer-logo-tagline {
  margin-top: 4%;
}

.pp-contact-first {
  flex: 1;
}

.pp-vertical-ruler {
  width: 1px;
  background: #763b11;
  height: 31vh;
}

.pp-contact-second {
  flex: 1.3;
}

.pp-contact-first img {
  width: 36%;
}

.pp-social-links {
  display: flex;
  flex-direction: row;
  gap: 4%;
}

.pp-footer-sl {
  width: 6%;
  cursor: pointer;
} */

/* @media screen and (max-width: 999px) {
  .pp-footer-logo-tagline {
    display: none;
  }
  .pp-contact-first img {
    width: 55%;
  }
  .pp-contact-second {
    font-size: 80%;
    line-height: 1.2;
  }
  .pp-social-links {
    margin-top: -10px;
  }
  .pp-vertical-ruler {
    height: 24vh;
  }
  .pp-contact-second ul li p {
    font-size: 100%;
  }
} */

/* @media screen and (max-width: 699px) {
  .pp-vertical-ruler {
    height: 16vh;
  }
  .pp-contact-second {
    flex: 1.6;
  }
  .pp-contact-first img {
    width: 65%;
  }
  .pp-contact-second {
    font-size: 70%;
  }
  .pp-contact-second ul li p {
    margin-bottom: 5px;
  }
} */

/* @media screen and (max-width: 500px) {
  .pp-contact-second {
    font-size: 60%;
  }
  .pp-contact-second ul li p {
    font-size: 96%;
  }
  .pp-vertical-ruler {
    height: 10vh;
  }
} */

/* @media screen and (max-width: 400px) {
  .pp-contact-second {
    font-size: 50%;
  }
  .pp-contact-second ul li p {
    font-size: 80%;
  }
  .pp-vertical-ruler {
    height: 8vh;
  }
} */

/*  */
